:root {
    --fondo: #000;
    --letra: #fff;
}

html {  
    background-color: var(--fondo);
    font-family: ui-monospace, "Cascadia Mono", "Segoe UI Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    filter: invert(0%) contrast(0.75) hue-rotate(0deg);
    transition: filter 0.3s ease;
}   
html:has(#style-switch:checked) {
    filter: invert(100%) contrast(0.75) hue-rotate(180deg);
}

body {
    color: var(--letra);
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE10+/Edge */
    user-select: none;         /* Standard */

    margin: 0;
    line-height: 1.5;
}   
main{
    font-size: 20px;
    justify-self: center;
    width: 55pc;
    margin-bottom: 100px;
}
main img{
    width: 100%;
    height: auto;
}
p {
    margin-bottom: 0;
}
p + p {
    text-indent: 1.5em;
    
    margin-top: 20px;
}   

main .cont-desc-img{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cont-desc p{
    text-indent: 0;
    line-height: 1.3;
}

.lista-historias .item-lista{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.lista-historias .item-lista .guion-y-nombre{
    display: flex;
    flex-direction: row;
    width: fit-content; 
    justify-content: flex-start;
    margin-bottom: 10px;
}
.lista-historias .item-lista .guion-y-nombre .guion-historia{
    margin: 0;
    color: var(--letra);
    text-decoration: none;
    opacity: 0;
    transition: opacity 0.1s ease;
}
.lista-historias .item-lista .guion-y-nombre .item_historia{
    margin: 0;
    transform: translateX(-16px);
    transition: transform 0.1s ease;
    color: var(--letra);
    text-decoration: none;
}
.lista-historias .item-lista:hover .guion-y-nombre .item_historia{
    text-decoration: underline;
    transform: translateX(5px);
}
.lista-historias .item-lista:hover .guion-y-nombre .guion-historia{
    opacity: 1;
}
.lista-historias .item-lista .img-historia{
    opacity: 0;
    height: 35px;
    width: auto;
    transform: translateX(-250px) scale(1);
    transition: transform 0.1s ease;
}
.lista-historias .item-lista:hover .img-historia{
    opacity: 1;
    transform: translateX(-250px) scale(6);
    border: 1px solid var(--letra);
    border-radius: 2px;
}
html:has(#style-switch:checked) .lista-historias .item-lista:hover .img-historia {
    filter: invert(100%) hue-rotate(180deg);
}

a{
    color: var(--letra);
    text-decoration: none;
}
a:visited{
    color: var(--letra);
    text-decoration: none;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
    margin: 0;
    background-color: var(--fondo);
    display: flex;
    justify-content: center;
}
header h1{
    margin: 0;
    text-align: center;
    align-content: center;
    height: 80px;
    font-size: 50px;
}
header .volver{
    position: absolute;
    left: 20px;
    top: 20px;
    display: flex;
    align-items: center;
}
.volver a{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;
    width: auto; 
}
.volver a:hover img{
    transform: translateX(-10px);
}
.volver a img{
    height: 100%;
    width: auto;
    transition: transform 0.3s ease;
}

.cita{
    padding-left: 50px;
    padding-right: 50px;
}

footer{
    position: sticky;
    bottom: 0;
    z-index: 100;
    margin: 0;
    height: 50px;
    background-color: var(--fondo);
    align-content: center;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.creditos{
    font-size: 18px;
    text-align: right;
    margin-right: 20px;
}

.modo-oscuro{
    margin: 5px;
    font-size: 18px;
    text-align: left;
    display: flex;
    align-items: center;
    /*border: 2px solid var(--letra);
    border-radius: 5px;*/
}
.modo-oscuro input[type="checkbox"] {
    width: 25px;
    height: 25px;
    margin: 5px;
    margin-right: 0;
}

.modo-oscuro label{
    font-size: 25px;
    margin: 5px;
    margin-bottom: 0;
}


